<div fxLayout="column" fxLayoutGap="3vw">
  <div class="card-deck">
    <div class="col-sm-6 my-3 text-left" *ngFor="let post of postsList">
      <mdb-card class="article-card">
        <div class="view overlay waves-light" mdbWavesEffect>
          <mdb-card-img src="{{post.imageUrl}}" alt="Card image cap"></mdb-card-img>
        </div>
        <a [routerLink]="'/posts/' + post.id">
          <mdb-card-body>
            <mdb-card-title>
              <h4>{{(post.title.length>72)? (post.title | slice:0:72)+ '..': post.title}}</h4>
            </mdb-card-title>
            <mdb-card-text>
              {{((post.body | htmlToText).length>280)? ((post.body | htmlToText) | slice:0:280)+'..':(post.body | htmlToText)}}
              <a id="readmore" [routerLink]="'/posts/' + post.id">Read more</a>
            </mdb-card-text>
          </mdb-card-body>
        </a>
        <mdb-card-footer class="text-center">
          <ul class="list-unstyled list-inline font-small mt-3">
            <li class="list-inline-item pr-2 white-text">
              <mdb-icon fas icon="clock" class="pr-1"></mdb-icon>{{post.date}}</li>
            <li class="list-inline-item pr-2">
              <a class="popularity" [routerLink]="'/posts/' + post.id" class="white-text">
                <mdb-icon fas icon="comments" class="pr-1"></mdb-icon>12</a>
            </li>
            <li class="list-inline-item pr-2">
              <a class="popularity" [routerLink]="'/posts/' + post.id" class="white-text">
                <mdb-icon fas icon="heart" class="pr-1"> </mdb-icon>21</a>
            </li>
          </ul>
        </mdb-card-footer>
      </mdb-card>
    </div>
  </div>
</div>
