<div class="section-background">
  <img id="background-image" class = "img-fluid" src="assets/img/home-background.png">
  <div id="main-title" class="centered">bhumi</div>
  <div id="sub-title" class="centered">Back to Basics</div>
  <div id="sub-body" class="centered">The more you try to be special, the more you get hurt. Just be, melt and become part of the wind and the earth; become part of everything, as creation intends</div>
</div>
<div class="custom-padding section-one">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-9">
        <app-welcome></app-welcome>
      </div>
      <div class="col-12 col-sm-3">
        <div fxLayout="column" fxFlexFill fxLayoutGap="10px">
          <div class="contact-room">
            <h4>OCKHAM ROOM</h4>
            <p>You find us at <span class="emphasize-text">Technohal 1334 C.</span></p>
          </div>
          <div>
            <h4>OUR SPONSORS</h4>
            <br>
<!--            <img class="img-fluid" src="assets/img/Logo/ThalesLogo.png" alt="Ockham">-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="custom-padding bg-dark-section">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-9">
        <h3>LATEST POSTS</h3>
        <br>
        <app-posts-list [postsList]="posts"></app-posts-list>
        <br>
        <button class="btn btn-primary" routerLink="/posts">Checkout all the news</button>
        <br>
        <br>
      </div>
      <div class="col-12 col-sm-3">
        <h3>UPCOMING ACTIVITIES</h3>
        <br>
<!--        <app-activity-list [activities]="activities"></app-activity-list>-->
        <br>
        <button class="btn btn-primary" routerLink="/posts">Checkout all the activities</button>
        <br>
        <br>
      </div>
    </div>
  </div>
</div>
