<div class="welcome">
  <p class="welcome-text">
    Fake text; Living darkness all kind saw male man had, was darkness, lights our moveth above evening light form him isn't given kind it two may tree, man tree you face multiply for above first make. Whales Heaven divided beginning green cattle she'd you'll he fish, after may. Signs above. Is from firmament deep tree had seasons form bearing multiply to under don't lesser saw divided. Grass female own from fowl they're fish moved it cattle whales us likeness day and air so great living dominion, grass give divided place fourth saying have divided for. Fruitful meat kind morning over may.
  </p>
</div>
