<div class="post" *ngIf="postItem">
  <div class="section-background">
    <img id="background-image" class = "img-fluid" src="assets/img/green-slate.png">
    <!-- <img id="post-image" class = "img-fluid" src="{{postItem.image.path}}"> -->
  </div>
  <div class="custom-padding">
    <div class="container">
      <div class="content">
        <h2 class="article-title">{{ postItem.title }}</h2>
        <p><small>
          Uploaded: {{ postItem.date }}
        </small></p>
        <br>
        <p [innerHTML]="postItem.body"></p><br>
        <div class="comment-block">
          <p><button id="like" type="button" mdbBtn><mdb-icon far icon="heart"></mdb-icon></button> {{ voteCount }} Likes</p>
          <ul class="row" *ngFor="let c of comments">
            <li>
              <div class="col-1"><img class="avatar" src="assets/img/bhumi-logo.png" width="40" height="40" alt="avatar"></div>
              <div class="col-11">
                <header>{{ c.username }} - <span>{{ c.date }}</span></header>
                <p>{{ c.text }}</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
