<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="footer-block col-sm-4 col-12">
        <div class="region region-footer-first">
          <div id="block-block-4" class="block block-block">
            <h2>CONTACT</h2>
            <div class="content">
              <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                <div class="field-items">
                  <div class="field-item even" property="content:encoded">
                    <p>Honoursvereniging Ockham, University of Twente</p>
                    <p>De Bastille (postvak 47)<br>Postbus 217<br>7500AE Enschede</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-block col-sm-4 col-6">
        <div class="region region-footer-second">
          <div id="block-block-2" class="block block-block">
            <h2>VISITING ADDRESS</h2>
            <div class="content">
              <p>Technohal TL1334C<br>Hallenweg 5<br>7522NH Enschede</p>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-block col-sm-4 col-6">
        <div class="region region-footer-third">
          <div id="block-block-3" class="block block-block">
            <h2>FOLLOW ISHA</h2>
            <div class="content">
              <p><a href="https://www.facebook.com/honoursverenigingockham"><img class="img-fluid" src="https://hv-ockham.nl/images/facebook.svg" style="width:40px;"></a>&nbsp; <a href="https://www.linkedin.com/groups/8658308/"><img class="img-fluid" src="https://hv-ockham.nl/images/linkedin.svg" style="width:40px;"></a></p>
              <p><a href="http://hv-ockham.nl/privacy">Privacy Statement</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<footer id="colophon" class="site-footer" role="contentinfo">
  <div class="container">
    <div class="row">
      <div class="fcred col-sm-12">
        Copyright © 2020 <a href="/"></a>. bhumi.
      </div>
    </div>
  </div>
</footer>

