<div class="row justify-content-between">
    <div class="col-sm-6 col-12">
        <h1>Manage forum Answers</h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <app-pagination-table (delete)="onDeleteForumAnswer($event)" (edit)="editForumAnswer($event)"
        [data]="forumAnswers"
        [headers]="['Parent Forum', 'Body', 'User', 'Date', 'Likes']"
        [keys]="['forumId', 'body', 'username', 'date', 'id']"
        [showActionColumn]="true"
        [columnDefs]="columnDefs">
        </app-pagination-table>
    </div>
</div>
  