
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$frontend-primary: mat-palette($mat-indigo);
$frontend-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$frontend-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$frontend-theme: mat-light-theme((
  color: (
    primary: $frontend-primary,
    accent: $frontend-accent,
    warn: $frontend-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($frontend-theme);

/* add style here if you want to override bootstrap defaults sass variables */
@import "./assets/styles/custom-colors.scss";

/* Override default bootstrap theme colors */
$theme-colors: ("primary": map-get($bhumi-green, 600), "secondary": map-get($bhumi-grey, 900));

/* Override bootstap colors */
$colors: ("dark-green": map-get($bhumi-green,800),"light-green": map-get($bhumi-green,100), "mid-green": map-get($bhumi-green,300));

@import "../node_modules/bootstrap/scss/bootstrap.scss";

@import "../node_modules/angular-notifier/styles.scss";

/* get theme-color by key */
@function theme-color($key: "primary") {
 @return map-get($theme-colors, $key);
}

/* get color by key */
@function color($key: "light-green") {
 @return map-get($colors, $key);
}



/*
 Global Style
*/
body, html {
  height: 100%;
}

h1 {
  text-transform: uppercase;
}

p {
  color: black;
}

.custom-padding {
  padding-top   : 50px;
  padding-bottom: 50px;
}

a {
  color: theme-color("primary");
}

.emphasize-text {
  color: theme-color("primary");
}

html {
  height: 100%;
  box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
}

.page-title {
  margin-bottom: 30px;
}

.bg-dark-section {
  background-color: theme-color("secondary");
  h1, h3, h4, h6, label {
    color: color("dark-green");
  }

  h5 {
    color: theme-color("secondary");
  }

  a {
    color: theme-color("primary") !important;
  }
}

.icon-secondary {
  color: theme-color("primary");
}

::ng-deep .btn {
  background-color: theme-color("primary") !important;
}

.btn-icon {
  font-size: $btn-font-size;
}

.text-icon {
  font-size: $font-size-base;
}

.pointer {
  cursor: pointer;
}

.form-control {
  border-radius: 0;
}

textarea {
  resize: none;
}

.article-title {
  margin-bottom: 0;
}

.sepa-container {
  background-color: #3b3b3b;
  box-shadow: inset 0 0 20px #000000;
  -moz-box-shadow : inset 0 0 20px #000000;
  -webkit-box-shadow: inset 0 0 20px #000000;
  padding-top: 20px;
  padding-bottom: 30px;
}


.auth-wrapper {
  width        : 50%;
  padding      : 40px;
  border-radius: 10px;
  overflow     : hidden;
  box-shadow        : 0 3px 20px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow   : 0 3px 20px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.1);
  -o-box-shadow     : 0 3px 20px 0 rgba(0, 0, 0, 0.1);
  -ms-box-shadow    : 0 3px 20px 0 rgba(0, 0, 0, 0.1);
  @media (max-width: 768px) {
    width: 90% !important;
  }
}

.text-archive {
  color: $archive-color;
}

.alert-archive {
  color: #004085;
  background-color: #cce5ff;
}

notifier-container {
  p {
    /* color: $light-primary-text; */
  }

  svg {
    display: block;
    margin: auto;
  }
}

.navbar .navbar-nav .nav-link {
  color: map-get($bhumi-grey, 900);
}

.navbar .navbar-nav .nav-link:hover {
  color: map-get($bhumi-green, 600);
}

li.nav-item.dropdown:hover {
  .dropdown-menu {
    display: block;
    margin: 0;
  }
}

li.nav-item.dropdown a:hover {
  /* color: map-get($ockham-frontend-red, 600); */
}

li.nav-item.dropdown a:active {
  /* background-color: map-get($ockham-frontend-grey, 300); */
}

li.nav-item.dropdown a:target {
  /* color: map-get($ockham-frontend-red, 600); */
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
